.front-first{
    font-family: 'Dancing Script', cursive;
}
.front-second{
    font-family: 'Dancing Script', cursive;
}

.front-third{
    font-family: 'Dancing Script', cursive;
font-family: 'Zen Loop', cursive;
}

h1{
    font-size: 50px;
}
 
.orange-color{
    color: orangered;
}

section{

    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
 
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
body{
    margin: 0%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}